

body{
  width: 100vw;
  height: 100vh; /* Make sure the height of the body is 100% */
  display: grid;
  gap: 20px;
  background-color:var(--main-container);
  grid-template-columns: 5rem 1fr 1fr 0.7fr;
  grid-template-rows: 0.6fr 4fr 0.1fr;
  grid-template-areas:    "dashboard header header header"
  "dashboard maincontent maincontent maincontent"
  "footer footer footer footer";
}

.card-container{
    min-width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow:5px 5px 10px #a8a6a6;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    border-left: #bb8645 5px solid;
    height: fit-content;
    position: relative;
}

/*Delete-button styling*/

.delete {
  position: absolute; /* Position it absolutely within the card container */
  top: 10px;         /* Adjust as needed */
  right: 15px;       /* Adjust as needed */
  background-color: transparent; /* Remove button background */
  border: none;                  /* Remove button border */
  padding: 10px;
  cursor: pointer;
  width: fit-content;               /* Pointer cursor on hover */
}

.edit {
  position: absolute; /* Position it absolutely within the card container */
  top: 10px;        
  right: 50px;       
  background-color: transparent; /* Remove button background */
  border: none;                  /* Remove button border */
  padding: 10px;
  cursor: pointer;
  width: fit-content;               /* Pointer cursor on hover */
}

.text-holder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-items: center;
}
/*checkbox styling */

  .checkbox-container{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .checkbox-container .check {
    --size: 27px;

    position: relative;
    background: linear-gradient(90deg, #0881a3, #5adaff);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-container .check input[type="checkbox"],
  .checkbox-container .check label,
  .checkbox-container .check label::before,
  .checkbox-container .check label::after,
  .checkbox-container .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-container .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-container .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-container .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-container .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-container .check label::before,
  .checkbox-container .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-container .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-container .check input[type="checkbox"]:checked + label::before,
  .checkbox-container .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-container .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }
