


body{
  width: 100vw;
  height: 100vh; /* Make sure the height of the body is 100% */
  display: grid;
  gap: 20px;
  background-color:var(--main-container);
  grid-template-columns: 5rem 1fr 1fr 0.7fr;
  grid-template-rows: 0.6fr 4fr 0.1fr;
  grid-template-areas:    "dashboard header header header"
  "dashboard maincontent maincontent maincontent"
  "footer footer footer footer";
}

.book {
  position: relative;
  z-index: 0;
}

.card-container{
    min-width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow:5px 5px 10px #a8a6a6;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    border-left: #bb8645 5px solid;
    height: fit-content;
    position: relative;
}

/*Delete-button styling*/

.delete {
  position: absolute; /* Position it absolutely within the card container */
  top: 10px;         /* Adjust as needed */
  right: 15px;       /* Adjust as needed */
  background-color: transparent; /* Remove button background */
  border: none;                  /* Remove button border */
  padding: 10px;
  cursor: pointer;
  width: fit-content;               /* Pointer cursor on hover */
}

.edit {
  position: absolute; /* Position it absolutely within the card container */
  top: 10px;        
  right: 50px;       
  background-color: transparent; /* Remove button background */
  border: none;                  /* Remove button border */
  padding: 10px;
  cursor: pointer;
  width: fit-content;               /* Pointer cursor on hover */
}

.text-holder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-items: center;
}
/*checkbox styling */

  .checkbox-container{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .checkbox-container .check {
    --size: 27px;

    position: relative;
    background: linear-gradient(90deg, #0881a3, #5adaff);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-container .check input[type="checkbox"],
  .checkbox-container .check label,
  .checkbox-container .check label::before,
  .checkbox-container .check label::after,
  .checkbox-container .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-container .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-container .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-container .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-container .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-container .check label::before,
  .checkbox-container .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-container .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-container .check input[type="checkbox"]:checked + label::before,
  .checkbox-container .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-container .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }

  .card-status{
    font-size: 1rem;
    font-weight: 500;
  }

  /* modal styling */
  .book {
    position: relative;
    z-index: 0;
  }
  
  .book > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: white;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 900;
  }

  .book-title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 8px;
    margin-bottom: 0.5rem;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
  }
  .book-author {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .book-pages {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .read-status-text{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
  }

  .card-container {
    border-left: 5px solid rgb(180, 1, 1) !important;
    max-width: 400px;
  }
  .read-true {
    border-left: 5px solid rgb(18, 157, 0) !important;
  }

  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(3, 31, 36, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid #888;
    width: 350px;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .span-close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: auto;
  }
  
  .span-close:hover,
  .span-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }
  
  .form-title {
    font-size: xx-large;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .modal-form {
    margin-right: auto;
    padding-top: 5px;
  }
  .modal-form-input {
    border: 0;
    margin-left: auto;
    margin-right: 20%;
    background-color: rgba(9, 45, 204, 0.198);
    padding: 0.5rem 1.5rem;
    outline-color: var(--blue-1);
    border-radius: 5px;
  }
  .modal-input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    gap:10px;
  }

  .submit-modal-form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .form-add-book{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .book-read-status{
    display: flex;
    gap:5px;
    align-items: center;
  }
  
  .submit-modal-btn{
    width: 65px;
    height: 27px;
    margin-top: 10px;
  }