
.card-container{
    min-width: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow:5px 5px 10px #a8a6a6;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    border-left: #bb8645 5px solid;
    overflow: auto;
    max-height: fit-content;
    
}